<html>
    <head>
        <title>Find a Seventh-day Adventist Church</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="Seventh-day Adventist Church locator using Google Maps. Mainly for South Africa." content="">
        <meta name="Kurt Campher, campherkurt2@gmail.com" content="">
        <link rel="stylesheet" type="text/css" href="/static/css/map.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-responsive.css">
        <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.9.0-beta.1/themes/base/jquery-ui.css">
    </head>
    <body>
        <div class="navbar navbar-fixed-top" id="menu">
          <div class="navbar-inner">
            <div class="container">
              <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </a>
              <a class="brand" href="#">Find a SDA church?</a>
              <div class="nav-collapse">
                <ul class="nav">
                  <li><a href="#search_box" data-toggle="modal">Search</a></li>
                  <li><a href="#about">About</a></li>
                  <li><a href="#contact">Contact</a></li>
                </ul>
              </div><!--/.nav-collapse -->
            </div>
          </div>
        </div>

        <div id="example" >
        </div>

        <div id="search_box" class="modal fade">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">×</button>
                <h3>Search for a congregation!</h3>
            </div>
            <div class="modal-body">
                <form id="search_form" class="well form-search">
                    <input type="text" class="input-medium search-query" id="search_input">
                    <button type="submit" class="btn" id="search_button">Search</button>
                </form>
            </div>
        </div>

        <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?v=3&sensor=false"></script>
        <script src="/static/js/jquery.js"></script>
        <script type="text/javascript" src="http://code.jquery.com/ui/1.9.0-beta.1/jquery-ui.js"></script>

        <script type="text/javascript" src="http://www.google.com/jsapi"></script>
        
        <!-- Handles the infobox logic for the markers  -->
        <script type="text/javascript" src="/static/js/infoBoxStyles.js"></script>

        <!-- Placed at the end of the document so the pages load faster -->
        <!-- Bootstrap stuff  -->
        <script src="/static/js/bootstrap/bootstrap-transition.js"></script>
        <script src="/static/js/bootstrap/bootstrap-alert.js"></script>
        <script src="/static/js/bootstrap/bootstrap-modal.js"></script>
        <script src="/static/js/bootstrap/bootstrap-dropdown.js"></script>
        <script src="/static/js/bootstrap/bootstrap-scrollspy.js"></script>
        <script src="/static/js/bootstrap/bootstrap-tab.js"></script>
        <script src="/static/js/bootstrap/bootstrap-tooltip.js"></script>
        <script src="/static/js/bootstrap/bootstrap-popover.js"></script>
        <script src="/static/js/bootstrap/bootstrap-button.js"></script>
        <script src="/static/js/bootstrap/bootstrap-collapse.js"></script>
        <script src="/static/js/bootstrap/bootstrap-carousel.js"></script>
        <script src="/static/js/bootstrap/bootstrap-typeahead.js"></script>

        <script type="text/javascript">
            var USER_POSITION;
            var DESTINATION_MARKER;
            var ALL_MARKERS = [];
            var SEARCH_MARKER_ICON = "/static/img/star-3.png";
            var DEFAULT_MARKER_ICON = "/static/img/conference.png"
            var coordinateArray = [
                {% for mk in content.markers %}
                    {coordinates: new google.maps.LatLng({{ mk.coordinates.lat }}, {{ mk.coordinates.long }}), id: "{{ mk.name }}", title: "{{ mk.name }}", address_details: "{{ mk.markup|safe }}" },
                {% endfor %}
            ];

        </script>
        <script src="/static/js/main_maps.js"></script>
        <script src="/static/js/search.js"></script>
    </body>
    
</html>